body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:591px;
}
#u36 {
  position:absolute;
  left:98px;
  top:112px;
  width:352px;
  height:591px;
}
#u37 {
  position:absolute;
  left:2px;
  top:288px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:39px;
}
#u38 {
  position:absolute;
  left:98px;
  top:59px;
  width:291px;
  height:39px;
  font-size:28px;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:287px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:591px;
}
#u40 {
  position:absolute;
  left:460px;
  top:112px;
  width:354px;
  height:591px;
}
#u41 {
  position:absolute;
  left:2px;
  top:288px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:591px;
}
#u42 {
  position:absolute;
  left:824px;
  top:112px;
  width:352px;
  height:591px;
}
#u43 {
  position:absolute;
  left:2px;
  top:288px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
