body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:839px;
}
#u2070 {
  position:absolute;
  left:52px;
  top:-9px;
  width:1160px;
  height:839px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2071 {
  position:absolute;
  left:2px;
  top:412px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:424px;
}
#u2072 {
  position:absolute;
  left:373px;
  top:1702px;
  width:843px;
  height:424px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2073 {
  position:absolute;
  left:2px;
  top:204px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:39px;
}
#u2074 {
  position:absolute;
  left:61px;
  top:9px;
  width:282px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u2075 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  word-wrap:break-word;
}
#u2076 {
  position:absolute;
  left:780px;
  top:112px;
  width:146px;
  height:34px;
}
#u2076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2076_input:disabled {
  color:grayText;
}
#u2077 {
  position:absolute;
  left:183px;
  top:61px;
  width:198px;
  height:34px;
}
#u2077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2077_input:disabled {
  color:grayText;
}
#u2078 {
  position:absolute;
  left:780px;
  top:61px;
  width:146px;
  height:34px;
}
#u2078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2078_input:disabled {
  color:grayText;
}
#u2079 {
  position:absolute;
  left:486px;
  top:61px;
  width:173px;
  height:34px;
}
#u2079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2079_input:disabled {
  color:grayText;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:39px;
}
#u2080 {
  position:absolute;
  left:394px;
  top:1867px;
  width:129px;
  height:39px;
  text-align:left;
}
#u2081 {
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:39px;
}
#u2082 {
  position:absolute;
  left:383px;
  top:1720px;
  width:369px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u2083 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:39px;
}
#u2084 {
  position:absolute;
  left:430px;
  top:1769px;
  width:96px;
  height:39px;
  text-align:left;
}
#u2085 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2086 {
  position:absolute;
  left:546px;
  top:1774px;
  width:244px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u2087 {
  position:absolute;
  left:2px;
  top:6px;
  width:240px;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2088 {
  position:absolute;
  left:677px;
  top:2067px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2090 {
  position:absolute;
  left:817px;
  top:2067px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u2092 {
  position:absolute;
  left:870px;
  top:1764px;
  width:83px;
  height:39px;
  text-align:left;
}
#u2093 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
}
#u2094 {
  position:absolute;
  left:402px;
  top:1818px;
  width:112px;
  height:39px;
  text-align:left;
}
#u2095 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2096 {
  position:absolute;
  left:546px;
  top:1872px;
  width:617px;
  height:99px;
  text-align:left;
}
#u2097 {
  position:absolute;
  left:2px;
  top:42px;
  width:613px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:61px;
}
#u2098 {
  position:absolute;
  left:545px;
  top:1992px;
  width:59px;
  height:61px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
}
#u2100 {
  position:absolute;
  left:409px;
  top:2003px;
  width:114px;
  height:39px;
  text-align:left;
}
#u2101 {
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:63px;
  height:21px;
}
#u2102p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:54px;
  height:1px;
}
#u2102p000_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:66px;
  height:22px;
}
#u2102p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2102p001_img {
  position:absolute;
  left:-11px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2102.compound {
  width:0px;
  height:0px;
}
#u2102 {
  position:absolute;
  left:1216px;
  top:1767px;
  width:52px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2103 {
  position:absolute;
  left:2px;
  top:-16px;
  width:48px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:1603px;
}
#u2104p000 {
  position:absolute;
  left:-797px;
  top:796px;
  width:1595px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2104p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:1616px;
  height:12px;
}
#u2104p001 {
  position:absolute;
  left:-10px;
  top:1579px;
  width:20px;
  height:20px;
}
#u2104p001_img {
  position:absolute;
  left:-11px;
  top:0px;
  width:42px;
  height:30px;
}
#u2104.compound {
  width:0px;
  height:0px;
}
#u2104 {
  position:absolute;
  left:1267px;
  top:173px;
  width:1px;
  height:1593px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2105 {
  position:absolute;
  left:2px;
  top:788px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106 {
  position:absolute;
  left:980px;
  top:1768px;
  width:184px;
  height:34px;
}
#u2106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2106_input:disabled {
  color:grayText;
}
#u2107 {
  position:absolute;
  left:546px;
  top:1821px;
  width:244px;
  height:34px;
}
#u2107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2107_input:disabled {
  color:grayText;
}
#u2108 {
  position:absolute;
  left:980px;
  top:1821px;
  width:184px;
  height:34px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2108_input:disabled {
  color:grayText;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:39px;
}
#u2109 {
  position:absolute;
  left:896px;
  top:1817px;
  width:60px;
  height:39px;
  text-align:left;
}
#u2110 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:545px;
}
#u2111 {
  position:absolute;
  left:112px;
  top:226px;
  width:1043px;
  height:545px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:264px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
}
#u2113 {
  position:absolute;
  left:112px;
  top:66px;
  width:61px;
  height:25px;
  text-align:left;
}
#u2114 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u2115 {
  position:absolute;
  left:415px;
  top:67px;
  width:61px;
  height:24px;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u2117 {
  position:absolute;
  left:709px;
  top:66px;
  width:61px;
  height:24px;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2119 {
  position:absolute;
  left:183px;
  top:113px;
  width:198px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u2120 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u2121 {
  position:absolute;
  left:85px;
  top:115px;
  width:83px;
  height:21px;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
}
#u2123 {
  position:absolute;
  left:936px;
  top:120px;
  width:55px;
  height:26px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2125 {
  position:absolute;
  left:183px;
  top:155px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2127 {
  position:absolute;
  left:504px;
  top:156px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2129 {
  position:absolute;
  left:788px;
  top:156px;
  width:124px;
  height:34px;
  font-size:16px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2131 {
  position:absolute;
  left:641px;
  top:156px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
}
#u2133 {
  position:absolute;
  left:85px;
  top:781px;
  width:188px;
  height:23px;
  text-align:left;
}
#u2134 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u2136 {
  position:absolute;
  left:398px;
  top:783px;
  width:51px;
  height:19px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2138 {
  position:absolute;
  left:337px;
  top:781px;
  width:78px;
  height:23px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2140 {
  position:absolute;
  left:434px;
  top:781px;
  width:78px;
  height:23px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2142 {
  position:absolute;
  left:272px;
  top:781px;
  width:78px;
  height:23px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2144 {
  position:absolute;
  left:505px;
  top:781px;
  width:78px;
  height:23px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u2146 {
  position:absolute;
  left:85px;
  top:195px;
  width:151px;
  height:27px;
  color:#3300FF;
  text-align:left;
}
#u2147 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u2148 {
  position:absolute;
  left:734px;
  top:118px;
  width:34px;
  height:24px;
  text-align:left;
}
#u2149 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1160px;
  height:839px;
}
#u2150 {
  position:absolute;
  left:52px;
  top:855px;
  width:1160px;
  height:839px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2151 {
  position:absolute;
  left:2px;
  top:412px;
  width:1156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:39px;
}
#u2152 {
  position:absolute;
  left:61px;
  top:873px;
  width:282px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u2153 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  word-wrap:break-word;
}
#u2154 {
  position:absolute;
  left:780px;
  top:976px;
  width:146px;
  height:34px;
}
#u2154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2154_input:disabled {
  color:grayText;
}
#u2155 {
  position:absolute;
  left:183px;
  top:925px;
  width:198px;
  height:34px;
}
#u2155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2155_input:disabled {
  color:grayText;
}
#u2156 {
  position:absolute;
  left:780px;
  top:925px;
  width:146px;
  height:34px;
}
#u2156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2156_input:disabled {
  color:grayText;
}
#u2157 {
  position:absolute;
  left:486px;
  top:925px;
  width:173px;
  height:34px;
}
#u2157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2157_input:disabled {
  color:grayText;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
}
#u2158 {
  position:absolute;
  left:112px;
  top:930px;
  width:61px;
  height:25px;
  text-align:left;
}
#u2159 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u2160 {
  position:absolute;
  left:415px;
  top:931px;
  width:61px;
  height:24px;
  text-align:left;
}
#u2161 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u2162 {
  position:absolute;
  left:709px;
  top:930px;
  width:61px;
  height:24px;
  text-align:left;
}
#u2163 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u2164 {
  position:absolute;
  left:183px;
  top:977px;
  width:198px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u2165 {
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:21px;
}
#u2166 {
  position:absolute;
  left:85px;
  top:979px;
  width:83px;
  height:21px;
  text-align:left;
}
#u2167 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:37px;
}
#u2168 {
  position:absolute;
  left:936px;
  top:976px;
  width:59px;
  height:37px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
}
#u2170 {
  position:absolute;
  left:85px;
  top:1645px;
  width:188px;
  height:23px;
  text-align:left;
}
#u2171 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u2173 {
  position:absolute;
  left:398px;
  top:1647px;
  width:51px;
  height:19px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2175 {
  position:absolute;
  left:337px;
  top:1645px;
  width:78px;
  height:23px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2177 {
  position:absolute;
  left:434px;
  top:1645px;
  width:78px;
  height:23px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2179 {
  position:absolute;
  left:272px;
  top:1645px;
  width:78px;
  height:23px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2181 {
  position:absolute;
  left:505px;
  top:1645px;
  width:78px;
  height:23px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u2183 {
  position:absolute;
  left:85px;
  top:1059px;
  width:151px;
  height:27px;
  color:#3300FF;
  text-align:left;
}
#u2184 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u2185 {
  position:absolute;
  left:736px;
  top:982px;
  width:34px;
  height:24px;
  text-align:left;
}
#u2186 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u2187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:987px;
  height:556px;
}
#u2187 {
  position:absolute;
  left:96px;
  top:1087px;
  width:987px;
  height:556px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:270px;
  width:983px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2189 {
  position:absolute;
  left:342px;
  top:156px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u2190 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2191 {
  position:absolute;
  left:183px;
  top:1021px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2193 {
  position:absolute;
  left:504px;
  top:1022px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2195 {
  position:absolute;
  left:788px;
  top:1022px;
  width:124px;
  height:34px;
  font-size:16px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2197 {
  position:absolute;
  left:641px;
  top:1022px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2199 {
  position:absolute;
  left:342px;
  top:1022px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u2200 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:364px;
  height:21px;
}
#u2201p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:356px;
  height:1px;
}
#u2201p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:368px;
  height:22px;
}
#u2201p001 {
  position:absolute;
  left:340px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2201p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u2201.compound {
  width:0px;
  height:0px;
}
#u2201 {
  position:absolute;
  left:912px;
  top:1039px;
  width:354px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2202 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  word-wrap:break-word;
}
#u2203_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:364px;
  height:21px;
}
#u2203p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:356px;
  height:1px;
}
#u2203p000_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:366px;
  height:22px;
}
#u2203p001 {
  position:absolute;
  left:340px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2203p001_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2203.compound {
  width:0px;
  height:0px;
}
#u2203 {
  position:absolute;
  left:913px;
  top:173px;
  width:354px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2204 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  word-wrap:break-word;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:364px;
  height:21px;
}
#u2205p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:356px;
  height:1px;
}
#u2205p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:366px;
  height:22px;
}
#u2205p001 {
  position:absolute;
  left:340px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2205p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:32px;
  height:40px;
}
#u2205.compound {
  width:0px;
  height:0px;
}
#u2205 {
  position:absolute;
  left:991px;
  top:128px;
  width:354px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:350px;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
}
#u2207 {
  position:absolute;
  left:1345px;
  top:117px;
  width:84px;
  height:25px;
  text-align:left;
}
#u2208 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:406px;
  height:21px;
}
#u2209p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:398px;
  height:1px;
}
#u2209p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:410px;
  height:22px;
}
#u2209p001 {
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2209p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u2209.compound {
  width:0px;
  height:0px;
}
#u2209 {
  position:absolute;
  left:948px;
  top:82px;
  width:396px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2210 {
  position:absolute;
  left:2px;
  top:-8px;
  width:392px;
  word-wrap:break-word;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u2211 {
  position:absolute;
  left:1345px;
  top:71px;
  width:100px;
  height:25px;
  text-align:left;
}
#u2212 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u2213 {
  position:absolute;
  left:948px;
  top:82px;
  width:1px;
  height:39px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
