body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:293px;
}
#u1785 {
  position:absolute;
  left:126px;
  top:1857px;
  width:1104px;
  height:293px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1786 {
  position:absolute;
  left:2px;
  top:138px;
  width:1100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1787 {
  position:absolute;
  left:156px;
  top:1885px;
  width:1059px;
  height:186px;
}
#u1788 {
  position:absolute;
  left:2px;
  top:85px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:712px;
}
#u1789 {
  position:absolute;
  left:126px;
  top:1093px;
  width:1104px;
  height:712px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1790 {
  position:absolute;
  left:2px;
  top:348px;
  width:1100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:607px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1791 {
  position:absolute;
  left:149px;
  top:1128px;
  width:1059px;
  height:607px;
}
#u1792 {
  position:absolute;
  left:2px;
  top:296px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:545px;
}
#u1793 {
  position:absolute;
  left:158px;
  top:1146px;
  width:1043px;
  height:545px;
}
#u1794 {
  position:absolute;
  left:2px;
  top:264px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:754px;
}
#u1795 {
  position:absolute;
  left:94px;
  top:51px;
  width:875px;
  height:754px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1796 {
  position:absolute;
  left:2px;
  top:369px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:396px;
  height:21px;
}
#u1797p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:388px;
  height:1px;
}
#u1797p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:400px;
  height:22px;
}
#u1797p001 {
  position:absolute;
  left:372px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1797p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u1797.compound {
  width:0px;
  height:0px;
}
#u1797 {
  position:absolute;
  left:642px;
  top:197px;
  width:386px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u1798 {
  position:absolute;
  left:2px;
  top:-8px;
  width:382px;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:71px;
  height:21px;
}
#u1799p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:1px;
}
#u1799p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:74px;
  height:22px;
}
#u1799p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1799p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:32px;
  height:40px;
}
#u1799.compound {
  width:0px;
  height:0px;
}
#u1799 {
  position:absolute;
  left:969px;
  top:908px;
  width:60px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u1800 {
  position:absolute;
  left:2px;
  top:-16px;
  width:56px;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:717px;
}
#u1801p000 {
  position:absolute;
  left:-354px;
  top:353px;
  width:709px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1801p000_img {
  position:absolute;
  left:-5px;
  top:-6px;
  width:730px;
  height:12px;
}
#u1801p001 {
  position:absolute;
  left:-10px;
  top:693px;
  width:20px;
  height:20px;
}
#u1801p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:40px;
  height:30px;
}
#u1801.compound {
  width:0px;
  height:0px;
}
#u1801 {
  position:absolute;
  left:1028px;
  top:199px;
  width:1px;
  height:707px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u1802 {
  position:absolute;
  left:2px;
  top:346px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1804 {
  position:absolute;
  left:104px;
  top:257px;
  width:855px;
  height:494px;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1806 {
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u1807 {
  position:absolute;
  left:40px;
  top:0px;
  width:119px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1808 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1809 {
  position:absolute;
  left:159px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1810 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u1811 {
  position:absolute;
  left:280px;
  top:0px;
  width:121px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1812 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u1813 {
  position:absolute;
  left:401px;
  top:0px;
  width:106px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1814 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u1815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u1815 {
  position:absolute;
  left:507px;
  top:0px;
  width:129px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1816 {
  position:absolute;
  left:2px;
  top:10px;
  width:125px;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u1817 {
  position:absolute;
  left:636px;
  top:0px;
  width:76px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1818 {
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u1819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u1819 {
  position:absolute;
  left:712px;
  top:0px;
  width:138px;
  height:36px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u1820 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:78px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:36px;
  width:40px;
  height:78px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:31px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:78px;
}
#u1823 {
  position:absolute;
  left:40px;
  top:36px;
  width:119px;
  height:78px;
  text-align:left;
}
#u1824 {
  position:absolute;
  left:2px;
  top:31px;
  width:115px;
  word-wrap:break-word;
}
#u1825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1825 {
  position:absolute;
  left:159px;
  top:36px;
  width:121px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1826 {
  position:absolute;
  left:2px;
  top:31px;
  width:117px;
  word-wrap:break-word;
}
#u1827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:78px;
}
#u1827 {
  position:absolute;
  left:280px;
  top:36px;
  width:121px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1828 {
  position:absolute;
  left:2px;
  top:31px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:78px;
}
#u1829 {
  position:absolute;
  left:401px;
  top:36px;
  width:106px;
  height:78px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:31px;
  width:102px;
  word-wrap:break-word;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:78px;
}
#u1831 {
  position:absolute;
  left:507px;
  top:36px;
  width:129px;
  height:78px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:31px;
  width:125px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:78px;
}
#u1833 {
  position:absolute;
  left:636px;
  top:36px;
  width:76px;
  height:78px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:31px;
  width:72px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:78px;
}
#u1835 {
  position:absolute;
  left:712px;
  top:36px;
  width:138px;
  height:78px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:31px;
  width:134px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:77px;
}
#u1837 {
  position:absolute;
  left:0px;
  top:114px;
  width:40px;
  height:77px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:30px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:77px;
}
#u1839 {
  position:absolute;
  left:40px;
  top:114px;
  width:119px;
  height:77px;
  text-align:left;
}
#u1840 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1841 {
  position:absolute;
  left:159px;
  top:114px;
  width:121px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1842 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:77px;
}
#u1843 {
  position:absolute;
  left:280px;
  top:114px;
  width:121px;
  height:77px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1844 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:77px;
}
#u1845 {
  position:absolute;
  left:401px;
  top:114px;
  width:106px;
  height:77px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:77px;
}
#u1847 {
  position:absolute;
  left:507px;
  top:114px;
  width:129px;
  height:77px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:77px;
}
#u1849 {
  position:absolute;
  left:636px;
  top:114px;
  width:76px;
  height:77px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:77px;
}
#u1851 {
  position:absolute;
  left:712px;
  top:114px;
  width:138px;
  height:77px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:76px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:191px;
  width:40px;
  height:76px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:30px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:76px;
}
#u1855 {
  position:absolute;
  left:40px;
  top:191px;
  width:119px;
  height:76px;
  text-align:left;
}
#u1856 {
  position:absolute;
  left:2px;
  top:30px;
  width:115px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:76px;
}
#u1857 {
  position:absolute;
  left:159px;
  top:191px;
  width:121px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1858 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:76px;
}
#u1859 {
  position:absolute;
  left:280px;
  top:191px;
  width:121px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1860 {
  position:absolute;
  left:2px;
  top:30px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:76px;
}
#u1861 {
  position:absolute;
  left:401px;
  top:191px;
  width:106px;
  height:76px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:76px;
}
#u1863 {
  position:absolute;
  left:507px;
  top:191px;
  width:129px;
  height:76px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:30px;
  width:125px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u1865 {
  position:absolute;
  left:636px;
  top:191px;
  width:76px;
  height:76px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:30px;
  width:72px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:76px;
}
#u1867 {
  position:absolute;
  left:712px;
  top:191px;
  width:138px;
  height:76px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:68px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:267px;
  width:40px;
  height:68px;
  color:#1E1E1E;
}
#u1870 {
  position:absolute;
  left:2px;
  top:26px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:68px;
}
#u1871 {
  position:absolute;
  left:40px;
  top:267px;
  width:119px;
  height:68px;
  text-align:left;
}
#u1872 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u1873 {
  position:absolute;
  left:159px;
  top:267px;
  width:121px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:68px;
}
#u1875 {
  position:absolute;
  left:280px;
  top:267px;
  width:121px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1876 {
  position:absolute;
  left:2px;
  top:26px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:68px;
}
#u1877 {
  position:absolute;
  left:401px;
  top:267px;
  width:106px;
  height:68px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:26px;
  width:102px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:68px;
}
#u1879 {
  position:absolute;
  left:507px;
  top:267px;
  width:129px;
  height:68px;
  color:#1E1E1E;
}
#u1880 {
  position:absolute;
  left:2px;
  top:26px;
  width:125px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:68px;
}
#u1881 {
  position:absolute;
  left:636px;
  top:267px;
  width:76px;
  height:68px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:26px;
  width:72px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:68px;
}
#u1883 {
  position:absolute;
  left:712px;
  top:267px;
  width:138px;
  height:68px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:26px;
  width:134px;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:335px;
  width:40px;
  height:70px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:70px;
}
#u1887 {
  position:absolute;
  left:40px;
  top:335px;
  width:119px;
  height:70px;
  text-align:left;
}
#u1888 {
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:70px;
}
#u1889 {
  position:absolute;
  left:159px;
  top:335px;
  width:121px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1890 {
  position:absolute;
  left:2px;
  top:27px;
  width:117px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:70px;
}
#u1891 {
  position:absolute;
  left:280px;
  top:335px;
  width:121px;
  height:70px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1892 {
  position:absolute;
  left:2px;
  top:27px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:70px;
}
#u1893 {
  position:absolute;
  left:401px;
  top:335px;
  width:106px;
  height:70px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:27px;
  width:102px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
}
#u1895 {
  position:absolute;
  left:507px;
  top:335px;
  width:129px;
  height:70px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:27px;
  width:125px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:70px;
}
#u1897 {
  position:absolute;
  left:636px;
  top:335px;
  width:76px;
  height:70px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:27px;
  width:72px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:70px;
}
#u1899 {
  position:absolute;
  left:712px;
  top:335px;
  width:138px;
  height:70px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:27px;
  width:134px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:84px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:405px;
  width:40px;
  height:84px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:34px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:84px;
}
#u1903 {
  position:absolute;
  left:40px;
  top:405px;
  width:119px;
  height:84px;
  text-align:left;
}
#u1904 {
  position:absolute;
  left:2px;
  top:34px;
  width:115px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:84px;
}
#u1905 {
  position:absolute;
  left:159px;
  top:405px;
  width:121px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:2px;
  top:34px;
  width:117px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:84px;
}
#u1907 {
  position:absolute;
  left:280px;
  top:405px;
  width:121px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0066CC;
  text-align:left;
}
#u1908 {
  position:absolute;
  left:2px;
  top:34px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:84px;
}
#u1909 {
  position:absolute;
  left:401px;
  top:405px;
  width:106px;
  height:84px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:84px;
}
#u1911 {
  position:absolute;
  left:507px;
  top:405px;
  width:129px;
  height:84px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:34px;
  width:125px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:84px;
}
#u1913 {
  position:absolute;
  left:636px;
  top:405px;
  width:76px;
  height:84px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:34px;
  width:72px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:84px;
}
#u1915 {
  position:absolute;
  left:712px;
  top:405px;
  width:138px;
  height:84px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:34px;
  width:134px;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:117px;
  top:269px;
  width:16px;
  height:16px;
}
#u1918 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1919 {
  position:absolute;
  left:117px;
  top:326px;
  width:16px;
  height:16px;
}
#u1920 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1921 {
  position:absolute;
  left:117px;
  top:551px;
  width:16px;
  height:16px;
}
#u1922 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1923 {
  position:absolute;
  left:117px;
  top:479px;
  width:16px;
  height:16px;
}
#u1924 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1925 {
  position:absolute;
  left:117px;
  top:400px;
  width:16px;
  height:16px;
}
#u1926 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1927 {
  position:absolute;
  left:117px;
  top:622px;
  width:16px;
  height:16px;
}
#u1928 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1929 {
  position:absolute;
  left:117px;
  top:698px;
  width:16px;
  height:16px;
}
#u1930 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1931 {
  position:absolute;
  left:395px;
  top:308px;
  width:95px;
  height:44px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1933 {
  position:absolute;
  left:395px;
  top:389px;
  width:95px;
  height:44px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1935 {
  position:absolute;
  left:395px;
  top:465px;
  width:95px;
  height:44px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1937 {
  position:absolute;
  left:395px;
  top:540px;
  width:95px;
  height:44px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1939 {
  position:absolute;
  left:395px;
  top:608px;
  width:95px;
  height:44px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
}
#u1941 {
  position:absolute;
  left:395px;
  top:683px;
  width:95px;
  height:44px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:14px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:39px;
}
#u1943 {
  position:absolute;
  left:465px;
  top:115px;
  width:63px;
  height:39px;
  color:#000000;
}
#u1944 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1945 {
  position:absolute;
  left:547px;
  top:129px;
  width:24px;
  height:25px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1947 {
  position:absolute;
  left:581px;
  top:120px;
  width:112px;
  height:39px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:12px;
  width:108px;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:767px;
  top:120px;
  width:105px;
  height:39px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u1951 {
  position:absolute;
  left:733px;
  top:127px;
  width:24px;
  height:25px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953 {
  position:absolute;
  left:215px;
  top:66px;
  width:193px;
  height:34px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1953_input:disabled {
  color:grayText;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
}
#u1954 {
  position:absolute;
  left:104px;
  top:115px;
  width:101px;
  height:39px;
  text-align:left;
}
#u1955 {
  position:absolute;
  left:2px;
  top:12px;
  width:97px;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1956 {
  position:absolute;
  left:215px;
  top:120px;
  width:193px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u1957 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
}
#u1958 {
  position:absolute;
  left:140px;
  top:66px;
  width:56px;
  height:39px;
  text-align:left;
}
#u1959 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u1960 {
  position:absolute;
  left:547px;
  top:66px;
  width:146px;
  height:34px;
}
#u1960_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1960_input:disabled {
  color:grayText;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
}
#u1961 {
  position:absolute;
  left:472px;
  top:66px;
  width:56px;
  height:39px;
  text-align:left;
}
#u1962 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1963 {
  position:absolute;
  left:215px;
  top:180px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1965 {
  position:absolute;
  left:380px;
  top:180px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1967 {
  position:absolute;
  left:523px;
  top:180px;
  width:119px;
  height:34px;
  font-size:16px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
}
#u1969 {
  position:absolute;
  left:104px;
  top:766px;
  width:188px;
  height:23px;
  text-align:left;
}
#u1970 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u1971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u1972 {
  position:absolute;
  left:417px;
  top:768px;
  width:51px;
  height:19px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u1974 {
  position:absolute;
  left:356px;
  top:766px;
  width:78px;
  height:23px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u1976 {
  position:absolute;
  left:453px;
  top:766px;
  width:78px;
  height:23px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u1978 {
  position:absolute;
  left:291px;
  top:766px;
  width:78px;
  height:23px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u1980 {
  position:absolute;
  left:524px;
  top:766px;
  width:78px;
  height:23px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u1982 {
  position:absolute;
  left:104px;
  top:222px;
  width:151px;
  height:27px;
  color:#3300FF;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:190px;
}
#u1984 {
  position:absolute;
  left:126px;
  top:853px;
  width:843px;
  height:190px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:2px;
  top:87px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:39px;
}
#u1986 {
  position:absolute;
  left:136px;
  top:859px;
  width:324px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:2px;
  top:12px;
  width:320px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:39px;
}
#u1988 {
  position:absolute;
  left:183px;
  top:908px;
  width:96px;
  height:39px;
  text-align:left;
}
#u1989 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1990 {
  position:absolute;
  left:314px;
  top:913px;
  width:219px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u1991 {
  position:absolute;
  left:2px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1992 {
  position:absolute;
  left:380px;
  top:980px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:39px;
}
#u1994 {
  position:absolute;
  left:623px;
  top:903px;
  width:83px;
  height:39px;
  text-align:left;
}
#u1995 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u1996 {
  position:absolute;
  left:706px;
  top:909px;
  width:211px;
  height:29px;
  color:#CCCCCC;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:2px;
  top:6px;
  width:207px;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:324px;
  top:1153px;
  width:19px;
  height:16px;
  color:#CC0000;
}
#u1999 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
}
#u2000 {
  position:absolute;
  left:729px;
  top:64px;
  width:56px;
  height:39px;
  text-align:left;
}
#u2001 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u2002 {
  position:absolute;
  left:808px;
  top:66px;
  width:146px;
  height:34px;
}
#u2002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2002_input:disabled {
  color:grayText;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
}
#u2003 {
  position:absolute;
  left:597px;
  top:1053px;
  width:136px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2004 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#6B6B6B;
}
#u2005 {
  position:absolute;
  left:824px;
  top:1745px;
  width:119px;
  height:34px;
  font-size:16px;
  color:#6B6B6B;
}
#u2006 {
  position:absolute;
  left:2px;
  top:8px;
  width:115px;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2007 {
  position:absolute;
  left:556px;
  top:980px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:88px;
}
#u2009p000 {
  position:absolute;
  left:-39px;
  top:38px;
  width:79px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2009p000_img {
  position:absolute;
  left:-6px;
  top:-5px;
  width:100px;
  height:12px;
}
#u2009p001 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:20px;
}
#u2009p001_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:40px;
  height:30px;
}
#u2009.compound {
  width:0px;
  height:0px;
}
#u2009 {
  position:absolute;
  left:592px;
  top:1014px;
  width:1px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2010 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011 {
  position:absolute;
  left:538px;
  top:1153px;
  width:19px;
  height:16px;
}
#u2012 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2013 {
  position:absolute;
  left:961px;
  top:1153px;
  width:19px;
  height:16px;
}
#u2014 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2015 {
  position:absolute;
  left:748px;
  top:1153px;
  width:19px;
  height:16px;
  color:#CC0000;
}
#u2016 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2017 {
  position:absolute;
  left:593px;
  top:1115px;
  width:174px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2018 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
}
#u2019 {
  position:absolute;
  left:169px;
  top:1701px;
  width:188px;
  height:23px;
  text-align:left;
}
#u2020 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u2022 {
  position:absolute;
  left:482px;
  top:1703px;
  width:51px;
  height:19px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2024 {
  position:absolute;
  left:421px;
  top:1701px;
  width:78px;
  height:23px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2026 {
  position:absolute;
  left:518px;
  top:1701px;
  width:78px;
  height:23px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2028 {
  position:absolute;
  left:356px;
  top:1701px;
  width:78px;
  height:23px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2030 {
  position:absolute;
  left:589px;
  top:1701px;
  width:78px;
  height:23px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2032 {
  position:absolute;
  left:465px;
  top:1745px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2034 {
  position:absolute;
  left:645px;
  top:1745px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u2036 {
  position:absolute;
  left:51px;
  top:1147px;
  width:76px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:72px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:224px;
  height:21px;
}
#u2038p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:215px;
  height:1px;
}
#u2038p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:226px;
  height:22px;
}
#u2038p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2038p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:32px;
  height:42px;
}
#u2038.compound {
  width:0px;
  height:0px;
}
#u2038 {
  position:absolute;
  left:117px;
  top:1161px;
  width:213px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:1182px;
  top:1146px;
  width:19px;
  height:16px;
}
#u2041 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2042_img {
  position:absolute;
  left:-10px;
  top:0px;
  width:21px;
  height:88px;
}
#u2042p000 {
  position:absolute;
  left:-39px;
  top:38px;
  width:79px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2042p000_img {
  position:absolute;
  left:-6px;
  top:-6px;
  width:100px;
  height:14px;
}
#u2042p001 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:20px;
}
#u2042p001_img {
  position:absolute;
  left:-10px;
  top:-1px;
  width:40px;
  height:32px;
}
#u2042.compound {
  width:0px;
  height:0px;
}
#u2042 {
  position:absolute;
  left:692px;
  top:1777px;
  width:1px;
  height:78px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2043 {
  position:absolute;
  left:2px;
  top:31px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:120px;
}
#u2044 {
  position:absolute;
  left:174px;
  top:1934px;
  width:1034px;
  height:120px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:52px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:551px;
  top:1938px;
  width:19px;
  height:16px;
}
#u2047 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2048 {
  position:absolute;
  left:974px;
  top:1938px;
  width:19px;
  height:16px;
}
#u2049 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2050 {
  position:absolute;
  left:761px;
  top:1938px;
  width:19px;
  height:16px;
  color:#CC0000;
}
#u2051 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2052 {
  position:absolute;
  left:1182px;
  top:1938px;
  width:19px;
  height:16px;
}
#u2053 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2054 {
  position:absolute;
  left:337px;
  top:1938px;
  width:19px;
  height:16px;
}
#u2055 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2056 {
  position:absolute;
  left:528px;
  top:2093px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2058 {
  position:absolute;
  left:708px;
  top:2093px;
  width:95px;
  height:34px;
  font-size:16px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:8px;
  width:91px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:112px;
  height:21px;
}
#u2060p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:104px;
  height:1px;
}
#u2060p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:116px;
  height:22px;
}
#u2060p001 {
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2060p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u2060.compound {
  width:0px;
  height:0px;
}
#u2060 {
  position:absolute;
  left:1156px;
  top:2101px;
  width:102px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:98px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:89px;
}
#u2062 {
  position:absolute;
  left:1258px;
  top:2057px;
  width:223px;
  height:89px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2063 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:28px;
}
#u2064 {
  position:absolute;
  left:599px;
  top:1872px;
  width:174px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2065 {
  position:absolute;
  left:2px;
  top:4px;
  width:170px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:325px;
  height:21px;
}
#u2066p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:317px;
  height:1px;
}
#u2066p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:328px;
  height:22px;
}
#u2066p001 {
  position:absolute;
  left:301px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2066p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  height:40px;
}
#u2066.compound {
  width:0px;
  height:0px;
}
#u2066 {
  position:absolute;
  left:943px;
  top:1762px;
  width:315px;
  height:1px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
}
#u2067 {
  position:absolute;
  left:2px;
  top:-8px;
  width:311px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:36px;
}
#u2068 {
  position:absolute;
  left:1258px;
  top:1745px;
  width:206px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CC0000;
  text-align:left;
}
#u2069 {
  position:absolute;
  left:2px;
  top:10px;
  width:202px;
  word-wrap:break-word;
}
