body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:552px;
}
#u2821 {
  position:absolute;
  left:51px;
  top:26px;
  width:799px;
  height:552px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2822 {
  position:absolute;
  left:2px;
  top:268px;
  width:795px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823 {
  position:absolute;
  left:75px;
  top:253px;
  width:736px;
  height:254px;
}
#u2824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
}
#u2824 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u2825 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  word-wrap:break-word;
}
#u2826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2826 {
  position:absolute;
  left:28px;
  top:0px;
  width:109px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
}
#u2827 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u2828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u2828 {
  position:absolute;
  left:137px;
  top:0px;
  width:44px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2829 {
  position:absolute;
  left:2px;
  top:12px;
  width:40px;
  word-wrap:break-word;
}
#u2830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u2830 {
  position:absolute;
  left:181px;
  top:0px;
  width:102px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2831 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u2832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u2832 {
  position:absolute;
  left:283px;
  top:0px;
  width:65px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2833 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:38px;
}
#u2834 {
  position:absolute;
  left:348px;
  top:0px;
  width:77px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2835 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u2836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u2836 {
  position:absolute;
  left:425px;
  top:0px;
  width:81px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2837 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u2838 {
  position:absolute;
  left:506px;
  top:0px;
  width:98px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2839 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u2840 {
  position:absolute;
  left:604px;
  top:0px;
  width:127px;
  height:38px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2841 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
}
#u2842 {
  position:absolute;
  left:0px;
  top:38px;
  width:28px;
  height:38px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:11px;
  width:24px;
  word-wrap:break-word;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2844 {
  position:absolute;
  left:28px;
  top:38px;
  width:109px;
  height:38px;
  text-align:left;
}
#u2845 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u2846 {
  position:absolute;
  left:137px;
  top:38px;
  width:44px;
  height:38px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u2848 {
  position:absolute;
  left:181px;
  top:38px;
  width:102px;
  height:38px;
  color:#000000;
}
#u2849 {
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u2850 {
  position:absolute;
  left:283px;
  top:38px;
  width:65px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2851 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:38px;
}
#u2852 {
  position:absolute;
  left:348px;
  top:38px;
  width:77px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2853 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u2854 {
  position:absolute;
  left:425px;
  top:38px;
  width:81px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2855 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u2856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u2856 {
  position:absolute;
  left:506px;
  top:38px;
  width:98px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2857 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u2858 {
  position:absolute;
  left:604px;
  top:38px;
  width:127px;
  height:38px;
  text-align:left;
}
#u2859 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u2860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u2860 {
  position:absolute;
  left:0px;
  top:76px;
  width:28px;
  height:32px;
}
#u2861 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  word-wrap:break-word;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u2862 {
  position:absolute;
  left:28px;
  top:76px;
  width:109px;
  height:32px;
  text-align:left;
}
#u2863 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:32px;
}
#u2864 {
  position:absolute;
  left:137px;
  top:76px;
  width:44px;
  height:32px;
}
#u2865 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:32px;
}
#u2866 {
  position:absolute;
  left:181px;
  top:76px;
  width:102px;
  height:32px;
  color:#000000;
}
#u2867 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u2868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u2868 {
  position:absolute;
  left:283px;
  top:76px;
  width:65px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u2869 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:32px;
}
#u2870 {
  position:absolute;
  left:348px;
  top:76px;
  width:77px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u2871 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
}
#u2872 {
  position:absolute;
  left:425px;
  top:76px;
  width:81px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u2873 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u2874 {
  position:absolute;
  left:506px;
  top:76px;
  width:98px;
  height:32px;
  font-size:12px;
  color:#000000;
}
#u2875 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u2876 {
  position:absolute;
  left:604px;
  top:76px;
  width:127px;
  height:32px;
  text-align:left;
}
#u2877 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:38px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:108px;
  width:28px;
  height:38px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:11px;
  width:24px;
  word-wrap:break-word;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:38px;
}
#u2880 {
  position:absolute;
  left:28px;
  top:108px;
  width:109px;
  height:38px;
  text-align:left;
}
#u2881 {
  position:absolute;
  left:2px;
  top:11px;
  width:105px;
  word-wrap:break-word;
}
#u2882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:38px;
}
#u2882 {
  position:absolute;
  left:137px;
  top:108px;
  width:44px;
  height:38px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:11px;
  width:40px;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:38px;
}
#u2884 {
  position:absolute;
  left:181px;
  top:108px;
  width:102px;
  height:38px;
  color:#000000;
}
#u2885 {
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
}
#u2886 {
  position:absolute;
  left:283px;
  top:108px;
  width:65px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2887 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:38px;
}
#u2888 {
  position:absolute;
  left:348px;
  top:108px;
  width:77px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2889 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:38px;
}
#u2890 {
  position:absolute;
  left:425px;
  top:108px;
  width:81px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2891 {
  position:absolute;
  left:2px;
  top:11px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u2892 {
  position:absolute;
  left:506px;
  top:108px;
  width:98px;
  height:38px;
  font-size:12px;
  color:#000000;
}
#u2893 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u2894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
}
#u2894 {
  position:absolute;
  left:604px;
  top:108px;
  width:127px;
  height:38px;
  text-align:left;
}
#u2895 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:36px;
}
#u2896 {
  position:absolute;
  left:0px;
  top:146px;
  width:28px;
  height:36px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:10px;
  width:24px;
  word-wrap:break-word;
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:36px;
}
#u2898 {
  position:absolute;
  left:28px;
  top:146px;
  width:109px;
  height:36px;
  text-align:left;
}
#u2899 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:36px;
}
#u2900 {
  position:absolute;
  left:137px;
  top:146px;
  width:44px;
  height:36px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:36px;
}
#u2902 {
  position:absolute;
  left:181px;
  top:146px;
  width:102px;
  height:36px;
  color:#000000;
}
#u2903 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u2904 {
  position:absolute;
  left:283px;
  top:146px;
  width:65px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u2905 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u2906 {
  position:absolute;
  left:348px;
  top:146px;
  width:77px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u2907 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u2908 {
  position:absolute;
  left:425px;
  top:146px;
  width:81px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u2909 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:36px;
}
#u2910 {
  position:absolute;
  left:506px;
  top:146px;
  width:98px;
  height:36px;
  font-size:12px;
  color:#000000;
}
#u2911 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u2912 {
  position:absolute;
  left:604px;
  top:146px;
  width:127px;
  height:36px;
  text-align:left;
}
#u2913 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u2914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:33px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:182px;
  width:28px;
  height:33px;
}
#u2915 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  word-wrap:break-word;
}
#u2916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
}
#u2916 {
  position:absolute;
  left:28px;
  top:182px;
  width:109px;
  height:33px;
  text-align:left;
}
#u2917 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u2918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:33px;
}
#u2918 {
  position:absolute;
  left:137px;
  top:182px;
  width:44px;
  height:33px;
}
#u2919 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  word-wrap:break-word;
}
#u2920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:33px;
}
#u2920 {
  position:absolute;
  left:181px;
  top:182px;
  width:102px;
  height:33px;
  color:#000000;
}
#u2921 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u2922 {
  position:absolute;
  left:283px;
  top:182px;
  width:65px;
  height:33px;
  font-size:12px;
  color:#000000;
}
#u2923 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u2924 {
  position:absolute;
  left:348px;
  top:182px;
  width:77px;
  height:33px;
  font-size:12px;
  color:#000000;
}
#u2925 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u2926 {
  position:absolute;
  left:425px;
  top:182px;
  width:81px;
  height:33px;
  font-size:12px;
  color:#000000;
}
#u2927 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u2928 {
  position:absolute;
  left:506px;
  top:182px;
  width:98px;
  height:33px;
  font-size:12px;
  color:#000000;
}
#u2929 {
  position:absolute;
  left:2px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u2930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u2930 {
  position:absolute;
  left:604px;
  top:182px;
  width:127px;
  height:33px;
  text-align:left;
}
#u2931 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u2932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:34px;
}
#u2932 {
  position:absolute;
  left:0px;
  top:215px;
  width:28px;
  height:34px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:9px;
  width:24px;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u2934 {
  position:absolute;
  left:28px;
  top:215px;
  width:109px;
  height:34px;
  text-align:left;
}
#u2935 {
  position:absolute;
  left:2px;
  top:9px;
  width:105px;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:34px;
}
#u2936 {
  position:absolute;
  left:137px;
  top:215px;
  width:44px;
  height:34px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:9px;
  width:40px;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u2938 {
  position:absolute;
  left:181px;
  top:215px;
  width:102px;
  height:34px;
  color:#000000;
}
#u2939 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
}
#u2940 {
  position:absolute;
  left:283px;
  top:215px;
  width:65px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u2941 {
  position:absolute;
  left:2px;
  top:9px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:34px;
}
#u2942 {
  position:absolute;
  left:348px;
  top:215px;
  width:77px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u2943 {
  position:absolute;
  left:2px;
  top:9px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u2944 {
  position:absolute;
  left:425px;
  top:215px;
  width:81px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u2945 {
  position:absolute;
  left:2px;
  top:9px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u2946 {
  position:absolute;
  left:506px;
  top:215px;
  width:98px;
  height:34px;
  font-size:12px;
  color:#000000;
}
#u2947 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u2948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u2948 {
  position:absolute;
  left:604px;
  top:215px;
  width:127px;
  height:34px;
  text-align:left;
}
#u2949 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u2950 {
  position:absolute;
  left:586px;
  top:79px;
  width:217px;
  height:34px;
}
#u2950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2950_input:disabled {
  color:grayText;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:39px;
}
#u2951 {
  position:absolute;
  left:485px;
  top:83px;
  width:65px;
  height:39px;
  text-align:left;
}
#u2952 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2953 {
  position:absolute;
  left:220px;
  top:177px;
  width:128px;
  height:34px;
  font-size:16px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:39px;
}
#u2955 {
  position:absolute;
  left:472px;
  top:128px;
  width:78px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u2956 {
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u2957 {
  position:absolute;
  left:552px;
  top:132px;
  width:24px;
  height:25px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:586px;
  top:132px;
  width:78px;
  height:32px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2961 {
  position:absolute;
  left:725px;
  top:131px;
  width:78px;
  height:32px;
}
#u2962 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u2963 {
  position:absolute;
  left:693px;
  top:134px;
  width:24px;
  height:25px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
}
#u2966 {
  position:absolute;
  left:148px;
  top:532px;
  width:188px;
  height:23px;
  text-align:left;
}
#u2967 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  word-wrap:break-word;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:19px;
}
#u2969 {
  position:absolute;
  left:461px;
  top:534px;
  width:51px;
  height:19px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2971 {
  position:absolute;
  left:400px;
  top:532px;
  width:78px;
  height:23px;
}
#u2972 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2973 {
  position:absolute;
  left:497px;
  top:532px;
  width:78px;
  height:23px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2975 {
  position:absolute;
  left:335px;
  top:532px;
  width:78px;
  height:23px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
}
#u2977 {
  position:absolute;
  left:568px;
  top:532px;
  width:78px;
  height:23px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2979 {
  position:absolute;
  left:386px;
  top:177px;
  width:111px;
  height:34px;
  font-size:16px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u2981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:39px;
}
#u2981 {
  position:absolute;
  left:66px;
  top:38px;
  width:319px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u2982 {
  position:absolute;
  left:2px;
  top:12px;
  width:315px;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:39px;
}
#u2983 {
  position:absolute;
  left:75px;
  top:126px;
  width:116px;
  height:39px;
  text-align:left;
}
#u2984 {
  position:absolute;
  left:2px;
  top:12px;
  width:112px;
  word-wrap:break-word;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
  text-align:left;
}
#u2985 {
  position:absolute;
  left:221px;
  top:133px;
  width:213px;
  height:29px;
  color:#D7D7D7;
  text-align:left;
}
#u2986 {
  position:absolute;
  left:2px;
  top:6px;
  width:209px;
  word-wrap:break-word;
}
#u2987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:20px;
}
#u2987 {
  position:absolute;
  left:72px;
  top:221px;
  width:172px;
  height:20px;
  color:#0000FF;
  text-align:left;
}
#u2988 {
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  word-wrap:break-word;
}
#u2989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2989 {
  position:absolute;
  left:528px;
  top:177px;
  width:124px;
  height:34px;
  font-size:16px;
}
#u2990 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u2991 {
  position:absolute;
  left:221px;
  top:83px;
  width:213px;
  height:34px;
}
#u2991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#C9C9C9;
}
#u2991_input:disabled {
  color:grayText;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:39px;
}
#u2992 {
  position:absolute;
  left:75px;
  top:87px;
  width:64px;
  height:39px;
  text-align:left;
}
#u2993 {
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
