body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:366px;
}
#u18 {
  position:absolute;
  left:152px;
  top:57px;
  width:757px;
  height:366px;
}
#u19 {
  position:absolute;
  left:2px;
  top:175px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
